QGroupBox{
        border: 2px solid black;
        padding: 11px;
        border-radius: 5px;
        margin-top: 1ex; /* leave space at the top for the title */
}

QGroupBox::title {
     subcontrol-origin: margin;
     subcontrol-position: top center; /* position at the top center */
     padding: 0 2px;
 }
